.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("https://images.hdqwalls.com/download/obi-wan-star-wars-maythefourthbewithyou-rp-2160x3840.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: azure;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

label {
  display: block;
  margin: 2rem 1.5rem;
  padding-left: 1rem;
  display: inline-block;
  font-weight: 100;
  text-align: center;
}

label input {
  margin-left: 10px;
}

input[type="text"],
input[type="number"],
button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 3.5rem;
  outline: none;
}

input[type="text"],
input[type="number"] {
  width: 15rem;
  margin-right: 0.5rem;
}

button {
  background-color: #f4efef;
  color: #18544e;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}

button:hover {
  background-color: #18544e;
  color: #f4efef;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
div {
  flex: 70%;
}
